:root {
 --primary-color: rgba(229, 237, 231, 1);  
 --secondary-color: rgba(251, 251, 250, 1);
 --text-dark-color: rgba(37, 33, 34, 1);
 --default-font-family: 'Libre Baskerville', serif;
 --heading-font-family: 'Montserrat', sans-serif;
}
body {
    background-color:var(--secondary-color);
    font-family: var(--default-font-family);

}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    font-weight: 900;
    color: var(--text-dark-color);
}

h1 {
    font-size: 140px; 
    margin-bottom: 40px;
}

p {
    line-height: 1.7;
}
i {
    font-size: 28px;
    color: var(--text-dark-color);
}

a {
    color: var(--text-dark-color);   
}
footer {
    background-color: var(--primary-color);
    padding-top: 20px;
    padding-bottom: 20px;
}
a:hover {
    text-decoration: none; 
    color: var(--text-dark-color);
}

.navbar-brand, 
.active {
    color: var(--text-dark-color);
}
.hero {
    background: var(--primary-color);
    text-align: center;
    margin: 0;
    padding: 160px 20px;
}
.content {
    padding: 120px 20px;
}
.content h1 {
    font-size: 80px;
    font-weight: 900;
    text-decoration: none;
}
.h2-about {
    font-family: var(--default-font-family);
    font-size: 30px;  
    line-height: 1.7;
    color: var(--text-dark-color);
    
}
.bg-green {
    background-color: var(--primary-color);
}
.salutation {

    font-family: var(--default-font-family);
    font-size: 36px;  
    line-height: 2;
    color: var(--text-dark-color);

}

.btn {

    text-align: center;
    background-color: var(--text-dark-color);
    color: var(--primary-color);
    font-family: var(--default-font-family);
    padding: 18px 36px;
    font-size: 18px;
    border-radius: 60px;
}
.btn-about {
    font-size: 16px;
    color: var(--secondary-color);
}
.btn-footer {
    color: var(--secondary-color);
}

.btn:hover {
    border: 1px solid var(--text-dark-color);
    background-color: transparent;  
    color: var(--text-dark-color);
    
}
.btn-secondary {
    margin-top: 10px;
    border: 1px solid var(--text-dark-color);
    background-color: transparent;  
    color: var(--text-dark-color);
    padding: 10px 20px;
    font-size: 16px;
}
.btn-secondary:hover {
   color: var(--secondary-color);
   background-color: var(--text-dark-color);
}
.navbar-nav {
    display: flex end;
}
.row {
    margin-bottom: 60px;
}

.contact-box{ 
   
 margin-bottom: 20px;
}
.underline {
    text-decoration: underline;
}
@media (max-width: 900px) {
    .project-description {
        padding: none;
        text-align: center;
    }
    h1 {
        font-size: 100px;
    }
    .hero {
        padding: 80px 10px;
    }
   .content {
    text-align: center;
    padding: 80px 10px;}
}
@media (max-width: 576px) {

    h1 {
        font-size: 58px;
       
    }
    h2 {
        font-size: 40px;
    }
    .salutation {
        font-size: 30px;
        line-height: 1.6;
    }
    .btn {
        margin-top: 40px;
    }
    .row {
        margin-top: 50px;
    }
   .btn-footer {
    display: block;
   }
}
@media (max-width: 320px) {
    h1 {
        font-size: 48px;
    }
}

